.cards {
  flex: 1 1 auto;
  max-width: 60vw;
  margin: 20px auto;
  max-height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  gap: 20px;
}
